mixin productContent(product_name, img, classes)
  - classname = classes || ""
  .box-content(class='#{classname}')
    h2.ribbon-container(id='_#{product_name.split(" ").join("_")}')
      span.ribbon.
        #{product_name}
    div

      picture
        source(type='image/webp' srcset='#{img}.webp')
        img.box-content-image(src='#{img}.jpg', alt='#{product_name}')

      p.box-content-description(
        aria-describedby='_#{product_name.split(" ").join("_")}',
        class='#{classname}'
      )
        if block
          block
    a.call-to-action-button(tabindex='0', href='/contact-us?subject=#{product_name.split(" ").join("-")}') Request Info


mixin space()
  | !{' '}