- var titles          = ['About Us', 'Services', 'Resources', 'Contact Us']
- var menu_list       = ['about-us', 'services', 'resources', 'contact-us']
- var services_titles = ['Itero', 'Ceramics', 'Implants', 'Removable Prosthetics']
- var services_list   = ['itero', 'ceramics', 'implants', 'removable_prosthetics']

nav(id='main-nav' aria-label='main navigation')
  button(id='toggle-nav', aria-controls='main-nav')
    span(class='top line')
    span(class='middle line')
    span(class='bottom line')
    span(class='label') MENU

  ul(class='#{section} menu-list primary', role='menubar', aria-hidden='false')
    each item, index in menu_list
      li(class='#{item} menu-item primary', role='menuitem')
        a(href='/#{item}', class='menu-link menu-toggle') #{titles[index]}

        if item == 'services'
            ul(class='#{section} menu-list sub', role='menubar', aria-hidden='true')
              each sub_item, index in services_list
                li(class='#{item} menu-item sub', role='menuitem')
                  a(href='/#{services_list[index]}', class='menu-link sub') #{services_titles[index]}

