- var titles         = ['The Lab', 'Itero', 'Ceramics', 'Implants', 'Removable Prosthetics']
- var menu_list      = ['lab', 'itero', 'ceramics', 'implants', 'removable_prosthetics']
- var implants_list  = ['Custom Abut.', 'Encode', 'ASC Abut.', 'Izir', 'Screw Retained']
- var ceramics_list  = ['Emax', 'BruxZir', 'Lava Crowns']
- var removable_prosthetics_list = ['Full Dentures', 'Partial Dentures', 'Implant Over.', 'Mesiostructure']

nav(id='main-nav' aria-label='main navigation')
  button(id='toggle-nav', aria-controls='main-nav')
    span(class='top line')
    span(class='middle line')
    span(class='bottom line')
    span(class='label') MENU

  - var url_hash = ''
  ul(class='#{section} menu-list primary', role='menubar', aria-hidden='false')
    each item, index in menu_list
      li(class='#{item} menu-item primary', role='menuitem')
        a(href='/#{item}', class='menu-link') #{titles[index]}

        case item
          when 'ceramics'
            ul(class='#{section} menu-list sub', role='menubar', aria-hidden='true')
              each sub_item, index in ceramics_list
                - url_hash = ceramics_list[index].replace(/\s+/g, '_')
                li(class='#{item} menu-item sub', role='menuitem')
                  a(href='/#{item}##{url_hash}', class='menu-link sub') #{ceramics_list[index]}
          when 'implants'
            ul(class='#{section} menu-list sub', role='menubar', aria-hidden='true')
              each sub_item, index in implants_list
                - url_hash = implants_list[index].replace(/\s+/g, '_')
                li(class='#{item} menu-item sub', role='menuitem')
                  a(href='/#{item}##{url_hash}', class='menu-link sub') #{implants_list[index]}
          when 'removable_prosthetics'
            ul(class='#{section} menu-list sub', role='menubar', aria-hidden='true')
              each sub_item, index in removable_prosthetics_list
                - url_hash = removable_prosthetics_list[index].replace(/\s+/g, '_')
                li(class='#{item} menu-item sub', role='menuitem')
                  a(href='/#{item}##{url_hash}', class='menu-link sub') #{removable_prosthetics_list[index]}

