- var titles           = ['About Us', 'Lab Services', 'Resources', 'Contact Us']
- var menu_list        = ['about-us', 'lab-services', 'resources', 'contact-us']
- var services_titles  = ['Itero', 'Ceramics', 'Implants', 'Removable Prosthetics']
- var services_list    = ['itero', 'ceramics', 'implants', 'removable-prosthetics']
- var resources_titles = ['Rx Form', 'Shipping Instructions', 'Technique Books']
- var resources_list   = ['rx-form.pdf', 'shipping-instructions', 'technique-books']
- var about_titles     = ['The Lab', 'The Owners', 'Lab Photos']
- var about_list       = ['the-lab', 'the-owners', 'lab-photos']

nav(id='main-nav' aria-label='main navigation')
  button(id='toggle-nav', aria-controls='main-nav')
    span(class='top line', id='toggle-nav-top-line')
    span(class='middle line', id='toggle-nav-middle-line')
    span(class='bottom line', id='toggle-nav-bottom-line')
    span(class='label', id='toggle-nav-label') MENU

  ul(class='#{section} menu-list primary', role='menubar')
    each item, index in menu_list
      li(class='#{item} menu-item primary', role='menuitem')
        if item == 'about-us' || item == 'lab-services' || item == 'resources'
          a(href='#', class='menu-link menu-toggle') #{titles[index]}
        else
          a(href='/#{item}', class='menu-link menu-toggle') #{titles[index]}

        if item == 'about-us'
           ul(class='#{section} menu-list sub', role='menubar', aria-hidden='true')
                each sub_item, index in about_list
                  li(class='#{item} menu-item sub', role='menuitem')
                    a(href='/#{about_list[index]}', class='menu-link sub') #{about_titles[index]}

        if item == 'lab-services'
            ul(class='#{section} menu-list sub', role='menubar', aria-hidden='true')
              each sub_item, index in services_list
                li(class='#{item} menu-item sub', role='menuitem')
                  a(href='/#{services_list[index]}', class='menu-link sub') #{services_titles[index]}

        if item == 'resources'
            ul(class='#{section} menu-list sub', role='menubar', aria-hidden='true')
              each sub_item, index in resources_list
                li(class='#{item} menu-item sub', role='menuitem')
                  if resources_titles[index] == 'Rx Form'
                    a(href='/#{resources_list[index]}', class='menu-link sub', target="_blank") #{resources_titles[index]}
                  else
                    a(href='/#{resources_list[index]}', class='menu-link sub') #{resources_titles[index]}
