extends layout

block content
  if(typeof msg !== 'undefined')

    div(class='message', id='dismiss-message')
      a(href='#dismiss-message', aria-label='Click or touch to dismiss message')
        p= msg
  - String.prototype.capitalize = function(){
  -   return this.replace( /(^|\s)([a-z])/g , function(m,p1,p2){ return p1+p2.toUpperCase(); } );
  - };
  - var _subject = subject ? subject.split('-').join(' ').capitalize() : "General Question";
  - var _name = name ? name : "";
  - var _email = email ? email : "";
  - var _phone = phone ? phone : "";
  - var _message = message ? message : "";
  section.no-slant.lead
    .inner
      h1= header_text
      h2 We'll Be In Touch.
  section.no-slant
    .inner
      form(action='/contact-us', method='post')
        .form-row
          .form-item
            label(for='reason', aria-required='true') Why are you contacting us?
            input(name='reason', value='#{_subject}' id='reason', type='text', required)
          .form-item
            label(for='name', aria-required='true') Name
            input(placeholder='Name', value='#{_name}', name='name', id='name', type='text', required)
        .form-row
          .form-item
            label(for='email', aria-required='true') Email address
            input(placeholder='Email', value='#{_email}', name='email', id='email', type='email', required)
          .form-item
            label(for='phone') Phone (optional)
            input(placeholder='Phone (optional)', value='#{_phone}', name='phone', id='phone', type='tel')
        .form-row.full
          .form-item
            label(for='message', aria-required='true') Message
            <textarea placeholder='Your Message' name='message' id='message' required>#{_message}</textarea>
        input(value='Send', class='button', type='submit')
  section
    .inner.full
      h2(id='map-header') Our Location

      include ./includes/business-address

      div(
        id='map',
        aria-labelledby='map-header',
        aria-describedby='business-address'
      )

    script(src="https://maps.googleapis.com/maps/api/js")
    script.
      var map;

      google.maps.event.addDomListener(window, 'load', function() {
        map = utilities.loadMap('map', 41.345012, -72.975545, 'White Knight Implants');
      });

      google.maps.event.addDomListener(window, 'resize', function() {
        var center = map.getCenter();
        google.maps.event.trigger(map, 'resize');
        map.setCenter(center);
      });
