extends layout

block content
  section.no-slant
    .inner
      if(typeof msg !== 'undefined')

        div(class='message', id='dismiss-message')
          a(href='#dismiss-message', aria-label='Click or touch to dismiss message')
            p!= msg

      h1=header_text
      h2 Add a promotion

      form(method='POST' action='/promo')
        label(for="title") Promotion title
        input(type="text" name="title" id="title" required placeholder="My Awesome Promotion")
        label(for="text") Promotion text
        textarea(name="text" id="text" required)
        input(type="submit" class="button" value="Submit")

      h2 Update or delete a promotion

      if promos.length

        each promo in promos
          form(method="POST" action="/promo/#{promo._id}/update")
            button.trigger!=promo.title
            .contents
              ul.promos
                li
                  span.label Promotion Title
                  input(type="text" name="update_title_#{promo._id}" value!=promo.title required)
                li
                  span.label Promotion text
                  textarea(name="update_text_#{promo._id}" required)=promo.text
                li
                  input.button(type="submit" value="Update")
                  a.delete(href='/promo/#{promo._id}/delete') Delete

      else
        p There are no promotions so far.

      h2 Set live promotion

      if promos.length
          form(method="POST" action="/promo/set_live")
            select(name="promos_select")
              option(value="#") -- None --
              each promo in promos
                option(value="#{promo._id}" selected=promo.live == true)!=promo.title
            input.button(type="submit" value="Submit")
      else
        p There are no promotions so far.


  script.
    var btns = document.getElementsByClassName('trigger');
    Array.prototype.forEach.call(btns, function(btn) {
      btn.addEventListener('click', function(e) {
        e.preventDefault();
        this.classList.toggle('active');
      });
    });

